/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: naturecursive;
  src: url("../vendor/fonts/Nature\ Beauty\ Personal\ Use.woff");
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #404e5a;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top .icon {
  font-size: 24px;
  color: #fff;
  line-height: 0;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top:hover{
  color: #ff4141;
  background-color: whitesmoke;
}

.back-to-top:hover .icon {
  color: #ff4141;

}


.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #404e5a
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #fff;
  border-top-color: #ff4141;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# loading b
--------------------------------------------------------------*/
#loading {
  display: none;
  background: rgba(0, 0, 0, 0.9) no-repeat 0 0;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;

}

#loading:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #404e5a;
  border-top-color: #ff4141;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  padding: 10px 0;
  z-index: 997;
  color: #fff;
  background: #404e5a;
  position: sticky;

}

#header.header-scrolled {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#header .logo {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  font-family: naturecursive;

}


#header .logo a {
  padding-bottom: 2px;
  margin: 0%;
  text-align: center;
  color: #fff;
  font-size: 24px;
}


#header .logo img {
  max-height: 40px;
}

.header-inner-pages {
  background: #201e21 !important;
}

.topbar-inner-pages {
  background: white !important;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;

}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ff4141;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before,
.navbar li ul:hover>a:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #404e5a;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 8px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #fff;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #ff4141;
  font-size: 25px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #ff4141;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}


.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #404e5a;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #404e5a;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #ff4141 !important;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #f6b024;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  left: 0;
  right: 0%;
  transition: 0.3s;
  overflow: hidden;
  padding: 0%;
  z-index: 99;
  position: relative;
}

#hero2 {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat !important;

}

@media (min-width:767px) {
  #hero {
    height: 71vh;
  }
}

@media (min-width:800px) {
  #hero {
    height: 74vh;
  }
}

@media (min-width:1011px) {
  #hero {
    height: 93vh;
  }
}

@media (min-width:1248px) {
  #hero {
    height: 100vh;
  }
}

@media (max-width:768px) {
  #hero2 {
    height: 61vh
  }
}

@media (max-width:594px) {
  #hero2 {
    height: 47vh
  }
}

@media (max-width:457px) {
  #hero2 {
    height: 39vh
  }
}

@media (max-width:370px) {
  #hero2 {
    height: 32vh
  }
}


#hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#hero:before {
  content: "";
  background: #fff;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
  color: #404e5a;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #e0aa6e;
}

#hero .btn-get-started:hover {
  background: #e0aa6e;
  color: #201e21;
  text-decoration: none;
}
.slider-icon {
  color: black;
  font-size: 25px;
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-width: 768px),
(max-height: 700px) {


  #hero h2 {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f1f8ff;
}

.glightbox {
  cursor: zoom-in;
}
@media (min-width: 769px){
.glightbox-clean .gnext , .glightbox-clean .gprev  {
   display: none !important;
}
}




.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 0;
  color: #201e21;
}

.section-title p {
  margin-bottom: 0;
  font-style: italic;
}

.common-line {
  width: 10%;
  border: 0;
  opacity: 999;
  border-radius: 200px;
  height: 2px;
  background: #0099F7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F11712, #0099F7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff4141, #ff4141);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0 auto;
  margin-bottom: 2rem;
}




@media (max-width:991px) {
  .common-line {
    width: 20%;
  }
}

@media (max-width:575px) {
  .common-line {
    width: 25%;
  }
}



/* visiotrs */
#visitors {
  text-align: center;
}

#visitors span {
  font-size: 1rem;
  letter-spacing: 3px;
}

#visitors ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  justify-content: center;
}

#visitors ul li {
  display: inline-block;
  margin: 0 3px;
  background: white;
  color: #ff4141;
  font-weight: 700;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 6px;
}

.add-to-btn {
  display: inline-block;
  padding: 5px 6px;
  border-radius: 10px;
  text-decoration: none;
  opacity: 1;
  border: none;
  transition-delay: 0.1s;
  background-color: #ff4141;
  color: #fff;
  font-size: 14px;
  margin-left: 11px;
  font-family: raleway;
  font-weight: 700;

}


/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
  padding: 140px 0;

}

.about:before {
  content: "";
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.about .container {
  position: relative;


}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li+li {
  margin-top: 10px;
}

.about .content ul .icon {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #ff4141;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.aboutfade {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 60px;
  padding-top: 40px;
  background-image: linear-gradient(to bottom, transparent, white);
}

@media (max-width: 992px) {
  .about {
    padding: 60px 0;
  }

  .aboutfade {
    text-align: center;
  }

  #product {
    margin-top: 4rem !important;
  }
}

/* product section */
.lnsec {

  top: 0rem;
}

.lnhead {
  color: #201e21 !important;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.lnhead h5 {
  font-size: 2rem;
}

.lnbody {
  text-align: center;

}

.card {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card .card-img-top {
  width: 100%;
  height: 230px;
  object-fit: cover;
  box-sizing: border-box;
}

.card-content {
  left: 0 !important;
}

.c-t1 {
  text-align: left;
  font-size: 1.1rem;
  margin-left: 7px;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}

.c-t2 {
  text-align: left;
  font-size: 1.5rem;
  margin-left: 7px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.card-body .card-content {
  position: absolute;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: .5s;
}

.card:hover .card-body .card-content {
  bottom: 0;
}

.card-body h5 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  width: 100%;
  color: #201e21 !important;
}

.btn-cust2 {
  display: block;
  padding: 5px 0px;
  color: #404e5a !important;
  margin: 10px 0 0;
  width: 8rem;
  border-radius: 20202px;
  background-color: #fff !important;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-cust2:hover {
  background-color: #fff;
  color: #ff4141 !important;
  transition: 0.3s ease-in-out;
}


.btn-cust2 i {
  font-size: 1rem !important;
}

/* product section end */

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
  margin-top: 2rem;
  padding: 80px 0;
}

#testimonials .icon {
  color: #ff4141;
}

.testimonials .section-header {
  margin-bottom: 40px;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  text-align: center;
  color: #263d4d;
}

.testimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 20%;
  background-color: #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #404e5a;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #404e5a;
  margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
  color: #263d4d;
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #404e5a;
  opacity: 1;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ff4141;
  opacity: 1;
}

.testimonials .swiper-button-next:after,
.testimonials .swiper-button-prev:after {
  content: "";
}

.testimonials .swiper-button-next,
.testimonials .swiper-button-prev {
  text-align: center;
  background: var(--primary);
  color: white;
  border-radius: 6px;
  font-size: 2rem;
  width: 40px;
}


.testimonials .testimonial-item .Iproduct-img {
  width: 100%;
  height: 200px;
  background-color: #fff;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  background: url("../img/contact-bg-af2.png") left center no-repeat;
  position: relative;
}

.contact:before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.contact .container {
  position: relative;
}

.contact .info {
  width: 100%;
}

.contact .info  .icon {
  font-size: 26px;
  background: #404e5a;
  color: #fff;
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info .address:hover .icon,
.contact .info .email:hover .icon,
.contact .info .phone:hover .icon {
  color: #ff4141;
  background-color: whitesmoke;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #201e21;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #444444;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact {
  width: 100%;
  background: #fff;
}

.contact .form-group {
  padding-bottom: 8px;
}

.contact.form-group .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .error-message br+br {
  margin-top: 25px;
}

.contact .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact input,
.contact textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact input {
  height: 44px;
}

.contact textarea {
  padding: 10px 12px;
}

.contact button[type=submit] {
  border: none;
  padding: 10px 32px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  background: #404e5a;
}

@media (max-width:380px){
.contact button[type=submit] {
  margin-top: 10px;
}
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 0 0 0px 0;
  color: white;
  font-size: 14px;
}


#footer .footer-top {
  background: #404e5a;
  padding: 20px 0 20px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ff4141;
  color: #fff;
  line-height: 0;
  padding: 8px 5px;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.social-links a:hover {
  background: #fff;
  color: #ff4141;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #e0aa6e;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.75);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .copyright {
  text-align: center;
  padding-top: 5px;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
}

#footer .credits a {
  color: #ffffff;
}


/*---------------------------------------------------
PRODUCT PAGE
-----------------------------------------------------  */

/*---------------------------------------------------
SHERO
-----------------------------------------------------  */

.product1_navbar a {
  color: #fff !important;
}


/*---------------------------------------------------
SPECIFIC PRODUCT
-----------------------------------------------------  */

/*---------------------------------------------------
IMAGE
-----------------------------------------------------  */


.product_content {
  text-align: justify;
  font-family: raleway;
  font-weight: 600;
  font-size: 19px;
  line-height: 40px;
  
}


.card_individual_product {
  position: relative;
  height: 420px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 2px;
}

.card_individual_product:before {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;

}

.card_individual_product .img_container {
  position: relative;
  top: 50%;
  transform: translateY(-70%);
  z-index: 10000;
  width: 100%;
  height: 300px;
  transition: 0.5s;
}

.card_individual_product .img_container .product-head {
  padding: 10px 12px 10px 20px;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
  font-weight: 600;
  width: 23rem;
}

.product-headI{
  font-weight: 600;
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

 .card_individual_product .img_container img{
  height: 90%;
  width: 100%;
  object-fit: cover;

}

 .card_individual_product .card_content_container{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 98px;
  text-align: center;
  transition: 1s;
  z-index: 10;

background-color:#F5F1F1 ;
 }

 .card_individual_product .card_content_container .pricetag{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color:black;
  font-size: 1.8rem;
  width: auto;
  padding-left: 1rem;
  font-weight: 600;
 }

 .card_individual_product .card_content_container h2  {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: black;
  margin: 0;
  line-height: 2.7rem;
  font-size: 24px;
}
.card_content_container h5{
  position: relative;
  font-weight: 500;
  letter-spacing: 1px;
  color: black;
  margin: 0;
  line-height: 2.7rem;
  font-size: 1.2rem;
}

 .card_individual_product .card_content_container .btn-cust3{
  display: block;
  text-decoration:underline;
  font-weight: 600;
  font-size: 1.1rem;
  opacity: 1;
  transition-delay: 0.1s;
  color: #404e5a;
  transition: all 0.3s ease;
  width: auto;
  padding-right: 1rem;
}
.card_individual_product .card_content_container .btn-cust4{
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
  opacity: 1;
  font-size: 1.1rem;
  background-color: #404e5a;
  color: #fff;
  transition: all 0.3s ease;
  border: 4px solid #ff4141;
}
.card_individual_product .card_content_container .btn-cust3:hover{
  transition: all 0.3s ease;

  border-radius: 30px;
  
}





/* =============================== */
  /* Product details css */
  /* ================================ */

  .pd-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border: 1px solid rosybrown;
    border-radius: 14px;
  }

  @media (max-width:400px) {
    .pd-img img {
      height: 300px;
    }
  }

  .pd-img img:hover {

    border: 1px solid #ff4141;
  }

  .small_img_grp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
 
  .small_img {
    position: relative;
    flex-basis: 24%;
    cursor: pointer;
  }

  .small_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hreftag a {
    text-decoration: none;
    color: black;
  }

  .hreftag a:hover {
    color: red;
    transition: 0.5s ease
  }

  @media (max-width:991px) {
    .pd-about {
      padding-top: 3rem;
    }
  }

  .btn-cust5 {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 0px;
    text-decoration: none;
    font-weight: 600;
    opacity: 1;
    transition: all 0.4s ease;
    background-color: #fff;
    color: #ff4141;
    border: 1px solid #ff4141;
  }

  .btn-cust5:hover {
    border-radius: 30px;
    background-color: #ff4141;
    color: #fff;
    transition: all 0.4s ease;
  }

  .price {
    transition: 0.3s ease-in-out;
    font-weight: 600;
  }

  .price:hover {
    color: #ff4141;
    transition: 0.3s ease-in-out;
  }



  .Iproduct {
    margin-top: 2rem;
    padding: 80px 0;
  }

  #Iproduct i {
    color: #ff4141;
  }

  .Iproduct .section-header {
    margin-bottom: 40px;
  }

  .Iproduct .Iproduct-carousel,
  .Iproduct .Iproduct-slider {
    overflow: hidden;
  }

  .Iproduct .Iproduct-item {
    text-align: center;
    color: #263d4d;
  }

  .Iproduct .Iproduct-item .Iproduct-img {
    width: 100px;
    background-color: #fff;
    margin: 0 auto;
  }

  .Iproduct .Iproduct-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #404e5a;
  }

  .Iproduct .Iproduct-item h4 {
    font-size: 14px;
    color: #404e5a;
    margin: 0 0 15px 0;
  }

  .Iproduct .Iproduct-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
    color: #263d4d;
  }

  @media (min-width: 992px) {
    .Iproduct .Iproduct-item p {
      width: 80%;
    }
  }

  .Iproduct .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }

  .Iproduct .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #404e5a;
    opacity: 1;
  }

  .Iproduct .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ff4141;
    opacity: 1;
  }

  .Iproduct .swiper-button-next:after,
  .Iproduct .swiper-button-prev:after {
    content: "";
  }

  .Iproduct .swiper-button-next,
  .Iproduct .swiper-button-prev {
    position: absolute;
    text-align: center;
    border-radius: 6px;
    font-size: 2rem;
    width: 40px;
  }

  .Iproduct .swiper-button-next .icon {
    
 
    margin-left: 2.8rem;
    background: white;
    font-weight: 600;
    font-size: 23px;
    color: black;


  }

  .Iproduct .swiper-button-prev .icon {
    margin-right: 2.8rem;
    background: white;
    font-weight: 600;
    color: black;
    font-size: 23px;
  }

  .Iproduct .Iproduct-item .Iproduct-img {
    width: 100%;
    height: 150px;
    background-color: #fff;
    object-fit: cover;

  }

  .Iproduct .Iproduct-item .Iproduct-img:hover {
    border: 1px solid #ff4141;

    transition: all 0.3s ease;
  }


  @media (max-width:991px) {
    .product_details {
      padding: 0;
      margin: 0;
      padding-bottom: 2rem;
    }
  }

  @media (max-width: 767px) {

    .pd-img img {
      width: 100%;
      height: 544px;
      object-fit: cover;
    }
  }

  @media (max-width: 767px) {
    .Iproduct .Iproduct-item .Iproduct-img {
      height: 165px;
    }
  }

  @media (max-width: 575px) {
    .Iproduct .Iproduct-item .Iproduct-img {
      height: 169px;
      width: 50%;
    }

    .pd-img img {

      height: 372px;

    }
  }

  #more {
    display: none;
  }

  .description{
    text-align: justify;
  }
  